body  {
  padding: 0px;
  margin: 0px;
  font-family: 'Playfair Display', serif;
  color: white;
}

div#gallery-background img {
  position: fixed;
  overflow: hidden;
  width: 1500px;
  top: -240px;
  z-index: -10;
}

div#frames {
  overflow: scroll;
  width: 2500px;
  position: absolute;
  z-index: 5;
}

div#frames img {
  display: inline-block;
  margin: 50px 30px 50px 30px;
  height: 300px;
  filter: drop-shadow(2px 4px 6px #0000007d);
}

nav {
  position: fixed;
  right: 0px;
  padding: 10px;
  background-color:rgba(0,0,0,0.5);
  z-index: 10;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

div#description {
  position: fixed;
  padding: 20px 30px 20px 30px;
  height: 35vh;
  bottom: 0;
  background-color: black;
  z-index: 10px;
}

h1 {
  font-size: 4em;
  margin: 2px;
}

p {
  font-family: 'Lato', sans-serif;
  color: grey;
}
